.root {

}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connectInput {
  width: 400px;
  vertical-align: middle;
  margin-bottom: 2px;
   input {
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     border-right-width: 0;
   }
}

.connectButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  //box-shadow: none;
}

.status {
  margin-top: 2px;
}

.connectionInfo {
  margin-right: 8px;
}
