@import "~antd/dist/antd.css";

$background-color: #fff;

.faw-app {

  .ant-layout-header {
    color: white;
  }

  .ant-layout-content {
    background-color: $background-color;
  }

  .ant-layout-footer {
    background-color: $background-color;
  }

  .content-container {
    padding: 20px 0;
  }

  .content-stack-item {
    margin-bottom: 20px;
  }
}
